n8n Workflows/SHR WP Bot.json
{
  "createdAt": "2025-09-08T18:07:31.730Z",
  "updatedAt": "2025-09-08T18:25:26.000Z",
  "id": "FHQZhsyBAaqS7pq4",
  "name": "SHR WP Bot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        0
      ],
      "id": "def35aa6-d41e-4eba-8d44-dc7c3bac9a75",
      "name": "WhatsApp Trigger",
      "webhookId": "40e7a451-3189-47ac-b1b0-3684bfbe89df",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "GjdEOlcOkq40tm0R",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the below message & send it to the whatsapp messagenger:\n\n{{ $json.messages[0].text.body }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        -32
      ],
      "id": "b77a7307-9129-4429-8a7d-6b113e71a880",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        240
      ],
      "id": "915fed22-e0cc-4737-a21c-77c2e4e63c82",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NCgfFmhZp4QKm05P",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "827900110398269",
        "recipientPhoneNumber": "+8801688208230",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "17022f73-7ee9-45e3-9084-1ac73b14a07c",
      "name": "Send message",
      "webhookId": "2701ee66-59cd-4ca5-8d41-dd4198c75455",
      "credentials": {
        "whatsAppApi": {
          "id": "U8XWW7FNMnt8Tgal",
          "name": "SHR WP"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9884f707-366b-4c70-b828-35f1462e51c0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ff60f1b-0a63-4b7d-8b74-c42ac63aa99d",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "369abf2e-c79f-4666-a959-49a7f0adc85b",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        144,
        -16
      ],
      "id": "ac14512f-88d4-4ae8-ad49-bf91ab47762c",
      "name": "Switch"
    },
    {
      "parameters": {
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        224
      ],
      "id": "857e13d4-6e7d-43b7-b683-6b7827889623",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bf94381c-d79f-467d-9d96-bde98d905759",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-08T18:07:31.741Z",
      "updatedAt": "2025-09-08T18:07:31.741Z",
      "role": "workflow:owner",
      "workflowId": "FHQZhsyBAaqS7pq4",
      "projectId": "7rdDDhbUHXMT0K8Z"
    }
  ],
  "tags": []
}