n8n Workflows/voice agent 1st.json
{
  "createdAt": "2025-08-10T08:23:48.172Z",
  "updatedAt": "2025-08-10T09:22:26.000Z",
  "id": "PFIGbE4FRG0DC6S2",
  "name": "voice agent 1st",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "5c60f4b7-0228-4622-9d4f-2be223deffcc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -48
      ],
      "id": "3a28e557-5405-40f6-9544-2c5aaa709d1f",
      "name": "Webhook",
      "webhookId": "5c60f4b7-0228-4622-9d4f-2be223deffcc"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appiM2pxQ1y7ci8Vr",
          "mode": "list",
          "cachedResultName": "agent Base",
          "cachedResultUrl": "https://airtable.com/appiM2pxQ1y7ci8Vr"
        },
        "table": {
          "__rl": true,
          "value": "tbl5jRH8cyLIZ0FIi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiM2pxQ1y7ci8Vr/tbl5jRH8cyLIZ0FIi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.query.name }}",
            "Mobile Number": "={{ $json.query.phone }}",
            "Email": "={{ $json.query.email }}",
            "Company Name": "={{ $json.query.company }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversation",
              "displayName": "Conversation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Not Called",
                  "value": "Not Called"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -416,
        -48
      ],
      "id": "e112ac54-f91f-495e-ad1b-69a0cccd67ff",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "vKkAP96qFA9WTYrZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appiM2pxQ1y7ci8Vr",
          "mode": "list",
          "cachedResultName": "agent Base",
          "cachedResultUrl": "https://airtable.com/appiM2pxQ1y7ci8Vr"
        },
        "table": {
          "__rl": true,
          "value": "tbl5jRH8cyLIZ0FIi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiM2pxQ1y7ci8Vr/tbl5jRH8cyLIZ0FIi"
        },
        "filterByFormula": "=({Status} = 'Not Called')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -192,
        -48
      ],
      "id": "0ac39db3-9493-4a19-8de5-2be7f21415f7",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "vKkAP96qFA9WTYrZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        32,
        -48
      ],
      "id": "de820a7d-e7f5-4468-969d-9fe4555401c9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "Bearer key_cf31511e2e9aa0f5b3a256c61726"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        -48
      ],
      "id": "f4154622-a68a-4c61-b802-2a0a8cb698c9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appiM2pxQ1y7ci8Vr",
          "mode": "list",
          "cachedResultName": "agent Base",
          "cachedResultUrl": "https://airtable.com/appiM2pxQ1y7ci8Vr"
        },
        "table": {
          "__rl": true,
          "value": "tbl5jRH8cyLIZ0FIi",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiM2pxQ1y7ci8Vr/tbl5jRH8cyLIZ0FIi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Mobile Number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile Number",
              "displayName": "Mobile Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversation",
              "displayName": "Conversation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Not Called",
                  "value": "Not Called"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        -48
      ],
      "id": "fa04ca52-c334-4a57-8b98-ab14fd838e15",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "vKkAP96qFA9WTYrZ",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c2b1b83b-bbfc-43ae-9fdf-9e206df269e3",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-10T08:23:48.184Z",
      "updatedAt": "2025-08-10T08:23:48.184Z",
      "role": "workflow:owner",
      "workflowId": "PFIGbE4FRG0DC6S2",
      "projectId": "7rdDDhbUHXMT0K8Z"
    }
  ],
  "tags": []
}